.tarjetaGato{
    background-color: white;
    filter: drop-shadow(2px 4px 6px black);
    margin:20px auto;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-weight:400;
    justify-content: center;
}


.tarjetaGato img{
    width: 100%;
    height:40vh;
    object-fit: cover;
}
.tarjetaGato .textoBotonesGato{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.tarjetaGato .textoGato{
    padding:10px
}

.tarjetaGato h3{
    padding-bottom:10px;
    text-align: center;
}

.tarjetaGato button{
    margin: 5px;
    width:60%;

}

.botonEliminar{
    background-color: #f36f6fb5;
}

.exitoEliminado{
    background-color: #e59f9f;
    border: #9E9E9E solid 1px;
    border-radius: 4px;
    margin: 50px auto;
    padding: 30px;
    width: 50%;
    text-align: center;
}

@media screen and (min-width:576px){
    .tarjetaGato{
        width:40%;
    }   
}

@media screen and (min-width: 768px){
    .tarjetaGato{
        width:30%;
    }
}