.tarjetaGato{
    background-color: white;
    filter: drop-shadow(2px 4px 6px black);
    margin:20px auto;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-weight:400;
    justify-content: center;
    font-size:0.9rem;
    transition: all 0.2s ease
}

.tarjetaGato:hover{
    transform: scale(1.1);
}
.tarjetaGato:active{
    transform: scale(1.1);
}

.tarjetaGato img{
    width: 100%;
    height:40vh;
    object-fit: cover;
}
.tarjetaGato .textoBotonesGato{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.tarjetaGato .textoGato{
    padding:10px
}

.tarjetaGato h3{
    padding-bottom:10px;
    text-align: center;
}

.tarjetaGato .descripcion{
    padding-top:10px;
}

.tarjetaGato button{
    background-color:#c9c3c3b5 ;
    margin: 5px;
    width:60%;
    transition: all 0.2s ease
}

.tarjetaGato button:hover{
   transform:scale(1.1);
   border-color:dimgrey;
   cursor: pointer;
}
.tarjetaGato button:active{
    transform:scale(1.1);
    border-color:dimgrey;
    cursor: pointer;
 }

.capitalizar{
    text-transform: capitalize;
}
.descripcion::first-letter{
    text-transform: uppercase;
}

.tarjetaGato button.botonEliminar{
    background-color: #f06161b5;
}

.exitoEliminado{
    background-color: #e59f9f;
    border: #9E9E9E solid 1px;
    border-radius: 4px;
    margin: 50px auto;
    padding: 30px;
    width: 50%;
    text-align: center;
}
.exitoEliminado button{
    margin: 10px 0px;
    padding:10px;
    width: 50%;
    transition: all 0.2s ease
}
.exitoEliminado button:hover{
    transform: scale(1.1);
    cursor: pointer;
 }

/* Media Queries */

@media screen and (min-width:576px){
    .tarjetaGato{
        width:40%;
    }   
}

@media screen and (min-width: 768px){
    .tarjetaGato{
        width:30%;
    }
}

@media screen and (min-width: 1200px){
    .tarjetaGato{
        width:23%;
        max-width: 400px;
    }
    .tarjetaGato img{
        height:50vh;
    }
}