.tarjetaGato{
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: column;
    font-weight:400;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 90%;
    margin:20px auto;
    
}

.tarjetaGato img{
    width: 100%;
    height:40vh;
    object-fit: cover;
}
.tarjetaGato .textoBotonesGato{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.tarjetaGato .textoGato{
    padding:10px
}

.tarjetaGato h3{
    padding-bottom:10px;
    text-align: center;
}

.tarjetaGato button{
    margin: 5px;
    width:60%;

}

@media screen and (min-width:576px){
    .tarjetaGato{
        width:40%;
    }   
}

@media screen and (min-width: 768px){
    .tarjetaGato{
        width:30%;
    }
}