.formulario main {
    padding: 40px 0;
}

.formulario {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    overflow: hidden;
}

.titulo {
    font-size: 1.3 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    flex: 1;
}
.titulo h2{
    padding:20px;
}
.titulo p{
    font-size: 0.9 rem;
    padding: 5px 20px;
}

.titulo h2,.titulo p{
    color: rgb(65, 63, 63);
}

.contenido {
    padding: 20px;
    flex: 1;
}

form input, textarea, select {
    padding: 10px;
    background-color:#e6d3d775; 
    border: 1px solid #cccccc00;
    margin-bottom: 10px;
    width: 100%;    
}

textarea {
    height: 80px;
}

button {
    padding: 10px 20px;
    background-color: #e3d1d1b5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease
}
button:hover{
    transform: scale(1.1);
    border-color: dimgray;
}
button:active{
    transform: scale(1.1);
    border-color: dimgray;
}

.exitoEnvio, .exitoEditado, .errorEnvio{
    background-color: #9fe59f;
    border: #9E9E9E solid 1px;
    border-radius: 4px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

.errorEnvio{
    background-color: #f06e6e;
    width:70%
}

.exitoEnvio button, .exitoEditado button{
    margin: 10px 0px;
    padding:10px;
    transition: all 0.2s ease
}
.exitoEnvio button:hover{
   transform: scale(1.1);
}

@media only screen and (min-width: 576px) {
    .formulario {
        flex-direction: row;
    }

    .titulo {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-image: url(https://w0.peakpx.com/wallpaper/803/525/HD-wallpaper-cute-cat-reading-study-book-read-cat-kitten.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 768px){
    .formulario{
        width:70%;
        margin: 20px auto;
    }
    .exitoEnvio, .errorEnvio{
        width:40%;
    }
}

@media only screen and (min-width: 1200px){
    .formulario{
        width: 60%;
        max-width: 900px;
    }
    .exitoEnvio, .errorEnvio{
        width:30%
    }
}